@using web1.Models;
@model Product

<b>@Model.Name</b>
<p>
    @Model.Description
</p>
<p>
    <b>Price:</b> @(Model.PurchasePrice * 2.5M)<br />
    <b>Stock:</b> @Model.Stock<br />
</p>
<p>
    @(Model.Stock == 0 ? new HtmlString("Out of stock") : Html.ActionLink("Add to cart", "Add", "Cart", new { id = Model.ProductId }, null))
    <br />
    @Html.ActionLink("Back", "Index", "Product")
</p>