@using web1.Models;
@model List<Product>

<table>
    <thead>
        <tr>
            <td><b>Title</b></td>
            <td><b>Description</b></td>
            <td><b>Price</b></td>
            <td><b>In stock</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@Html.ActionLink(p.Name.Ellipsis(50), "Details", new { id = p.ProductId }, new { title = p.Name})</td>
                <td>@p.Description.Ellipsis(100)</td>
                <td align="right">@(p.PurchasePrice * 2.5M)</td>
                <td align="right">@p.Stock</td>
                <td>@Html.ActionLink("Add to cart", "Add", "Cart", new { id = p.ProductId }, null)</td>
            </tr>
        }
    </tbody>
</table>