<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My bookshop: Computers & technology books</title>
</head>
<body>
    <header>
        @Html.ActionLink("Home", "Index", "Home")
        &nbsp;|&nbsp;
        @Html.ActionLink("Books", "Index", "Product")
        &nbsp;|&nbsp;
        @Html.ActionLink("Cart", "Index", "Cart")
        &nbsp;|&nbsp;
        @Html.ActionLink("Lookup order", "Lookup", "Order")
    </header>
    <hr />

    <div style="display: table; width: 100%">
        <div style="display: table-cell; width: auto; padding-right: 20px;">
            @RenderBody()
        </div>
        <div style="display: table-cell; width: 400px;">
            @Html.Action("Inline", "Cart")
        </div>
    </div>

    <hr />
    @Html.Action("Suggestions", "Cart")
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My bookshop</p>
    </footer>
</body>
</html>
